body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 36px;
}

p {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin: 0;
}

.calender-title p {
  font-size: 40px;
}

.txt-month {
  font-size: 25px;
  margin-top: 50px;
}

.image-box {
  display: flex;
  justify-content: center;
  text-align: center;
}

.image-box img {
  width: 20%;
}

tbody td {
  font-family: "Pacifico", cursive;
}

tbody td:hover {
  cursor: pointer;
}

.button {
  border-color: transparent;
  background-color: transparent;
  font-size: 20px;
  font-weight: bolder;
}

.button:hover {
  cursor: pointer;
}

.prev {
  margin-right: 20px;
}

.next {
  margin-left: 20px;
}

.calender {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}